#day-number {
  text-align: center;
}

#map {
  margin-bottom: 20px;
}

#step-submit-container {
  margin-bottom: 20px;
  select {

  }
  label {

  }
  #step-submit--warning-label {
    color: white;
    transition: color 1s;
  }
}
